<mat-card class="item">
  <mat-card-header>
    <mat-card-title>
      {{ recipe.name }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ recipe.createdAt | date : "d/MM/yy, hh:mm" }}
    </mat-card-subtitle>
    <button mat-icon-button class="menu-btn" [matMenuTriggerFor]="menu">
      <mat-icon> more_vert </mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a [routerLink]="['/recipes', recipe.id, 'edit']" mat-menu-item
        >Редактировать</a
      >
      <button (click)="openRemoveDialog()" mat-menu-item>Удалить</button>
    </mat-menu>
  </mat-card-header>
  <mat-card-content>
    <mat-divider />
    <div class="content">
      {{ recipe.description }}
    </div>
    <mat-divider />
  </mat-card-content>
  <mat-card-actions>
    <a [routerLink]="['/recipes', recipe.id]" class="accent" mat-raised-button>
      <mat-icon> chevron_right</mat-icon>
      Читать
    </a>
  </mat-card-actions>
</mat-card>
