<page-loader *ngIf="isLoading$ | async; else content" />
<ng-template #content>
  <div class="page">
    <mat-horizontal-stepper [linear]="true" #stepper class="stepper">
      <!-- Шаг 1: название рецепта -->
      <mat-step [stepControl]="recipeFormService.recipeNameFormGroup">
        <ng-template matStepLabel>Название рецепта</ng-template>
        <recipe-name-form />
      </mat-step>
      <!-- Шаг 2: ингредиенты -->
      <mat-step [stepControl]="recipeFormService.ingredientsFormArray">
        <ng-template matStepLabel>Добавьте ингредиенты</ng-template>
        <ingredients-form-step />
      </mat-step>
      <!-- Шаг 3: инструкция -->
      <mat-step [stepControl]="recipeFormService.instructionsFormArray">
        <ng-template matStepLabel>Добавьте интструкцию</ng-template>
        <instructions-form-step [isEdit]="isEditMode" (onSubmit)="onSubmit()" />
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</ng-template>
