* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --text: #0c031b;
  --background: #f6f1fd;
  --primary: #a986db;
  --secondary: #f1c4e1;
  --accent: #eb4f87;

  --header-height: 50px;
  --sidebar-width: 300px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--text);
  background-color: var(--background);
}
